body {
    background-color: rgb(148, 206, 237);
}

.text-content {

    display: flex;
    justify-content: center;

}

.text-content-home {
    color: green;
}

.text {
    background-color: blueviolet;
}

.text2 {
    background-color: brown;
    border-radius: 2px solid rgb(7, 4, 4);
    
}

.bg-orange {
    background-color: orange;
}

.container {
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;

  display: flex;
  justify-content: space-evenly;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-right: 32px;
    padding-left: 32px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-right: 16px;
    padding-left: 16px;
  }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
    margin-bottom: 20px;
    
    .logo {
      img {
        width: 100px;
      }
    }
    
    .search {
      flex: 1;
      margin: 0 1rem;
      
      input[type="text"] {
        padding: 0.5rem;
        border: none;
        border-radius: 0.25rem;
        width: 100%;
      }
      
      button {
        background-color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        margin-left: 0.5rem;
        cursor: pointer;
        
        &:hover {
          background-color: #ddd;
        }
      }
    }
    
    .buttons {
      button {
        background-color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        margin-left: 0.5rem;
        cursor: pointer;
        
        &:hover {
          background-color: #ddd;
        }
      }
    }
    

    
    @media only screen and (max-width: 767px) {
      .logo {
        order: 2;
      }
      
      .search {
        flex: 2;
        order: 1;
      }
      
      .buttons {
        order: 3;
      }
    }
  }
  

#animated-circle {
  animation: scaleAndColor 10s ease-in-out infinite;
}

@keyframes scaleAndColor {
  0% {
    r: 40;
    fill: blue;
  }
  50% {
    r: 10;
    fill: red;
  }
  100% {
    r: 40;
    fill: blue;
  }
}
