body {
    background-color: rgb(148, 206, 237);
}

.text-content {

    display: flex;
    justify-content: center;

}

.text-content-home {
    color: green;
}

.text {
    background-color: blueviolet;
}

.text2 {
    background-color: brown;
    border-radius: 2px solid red;
    
}

.bg-orange {
    background-color: orange;
}